.btn {
  float: right;
  background: #0433ff;
  color: #8efff9;
  width: 300px;
  margin: auto;
  font-size: 50px;
}
.btn:hover {
  float: right;
  background: #8efff9;
  color: #0433ff;
}
.delete-btn {
  float: right;
  color: #e74944;
}
