.people {
  height: 1000px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.people::after {
  content: "";
  display: block;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.people * {
  position: relative;
  z-index: 2;
}

.people h1,
.people h2 {
  color: white;
}

.people h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
